<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- <x-compile> -->
    <!-- <x-bootstrap> -->
    <link rel="shortcut icon" href="favicon.ico" type="image/ico" />    
    <!-- Comentar el estilo debajo si se desea utilizar el theme de neptuno -->
    <link rel="stylesheet" type="text/css" href="ext/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/app.css" />
    <!-- ExtJS -->

    <link rel="stylesheet" type="text/css" href="resources/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="resources/css/app.css">
    <link rel="stylesheet" type="text/css" href="resources/css/icons.css">
        
    <script type="text/javascript" src="ext/bootstrap.js"></script>
    <!-- Descomentar las 2 referencias debajo si se desea utilizar el theme de Neptuno -->
    <!--<script type="text/javascript" src="ext/packages/ext-theme-neptune/build/ext-theme-neptune-debug.js"></script>
    <link rel="stylesheet" href="ext/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css" />-->
    
    <script type="text/javascript" src="app/app-loader.js"></script>
    <script src="lib/deft/deft-debug.js"></script>
    <script type="lib/string-format-js/format.min.js"></script>
    <script src="app/app.js"></script>
    <script src="packages/ext-locale-es/build/ext-locale-es.js"></script>
    <script src="lib/pdf.js/compatibility.js"></script>
    <script src="lib/pdf.js/pdf.js"></script>
    <script src='lib/pdfmake.js/pdfmake.min.js'></script>
    <script src='lib/pdfmake.js/vfs_fonts.js'></script>
    <!--upload-->
    <script src='lib/jquery/jquery.min.js'></script>
    <script src='lib/jquery/jquery.ui.widget.js'></script>
    <script src='lib/jquery/jquery.fileupload.js'></script>

    <!-- </x-compile> -->
</head>
<body></body>
</html>
